@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
    margin: 2rem;
    padding: 0;
    font-family: "Arial Narrow", Arial, sans-serif;
    background-image: url("assets/dither_it_poster\ \(1\).png");
    background-size: cover;
    /* color: #000; */

    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow-x: hidden;
}

mark {
    background-color: black;
    color: #fff;
}

a {
    font-size: 24px;
    color: #0501F9;
}



.titles {
    text-align: left;
    /* width: 100vw; */
    max-width: 100vw;
}

.titles p {
    margin: auto;
}

.titles_01 {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 48px;
    font-style: italic;
}

.titles_02 {
    font-size: 72px;
    font-style: italic;
}

.titles_03 {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 72px;
    /* margin-left: 20rem; */
    text-indent: 20rem;
    font-weight: bold;
}

.titles_04 {
    font-size: 80px;
    text-indent: 20rem;
    font-style: italic;
}

.date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 74px;
    max-width: 96vw;
    margin: -2rem 0 -2rem 0;
}

.date p {
    display: inline;
    font-size: 74px;
    font-style: italic;
}

.date_02 {
    align-items: center;
}

/* .venue {
    font-size: 20px;
} */

.venue {
    margin: 0;
}

.venue p {
    font-size: 24px;
}



.main_container {
    width: 100%;
    /* height: 100%; */
    position: relative;
    text-align: center;
}

.main_container img {
    height: 880px;
    margin: 3rem 0 3rem 0;
    vertical-align: middle;
}


.ghosts {
    overflow-x: hidden;

    position: absolute;
    top: 20%;
}

.ghosts a {
    display: block;
    position: relative;
    animation: rightToLeft 20s linear infinite;
}

@keyframes rightToLeft {
    0% {
      left: 100%;
    }
    
    100% {
      left: -100%;
    }
}



.footer {
    margin: 0;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.footer_01 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.footer_02 {
    font-family: 'Times New Roman', serif;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
}

.haja_logo {
    /* display: inline;
    display: flex;
    align-items: right; */
    float: right;
    margin-right: 40px;
    margin-bottom: 0;
    height: 220px;
}




/* 여기서부터 hand-flyer.html */

.flyer_container {
    max-width: 95vw;

    display: flex;
    flex-direction: row;

    text-align: left;

    margin-top: 2rem;
}


.blueprint {
    /* position: sticky; */
    /* background-color: skyblue; */
    width: 50%;
}

.blueprint img {
    width: 100%;
    margin-top: -2rem;
}

.works_kr {
    /* background-color: pink; */
    width: 330px;
    height: 860px;
    overflow-y: auto;

    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    
    /* text-wrap: wrap; */
    /* hyphens: none; */
}

.works_kr_container {
    margin-bottom: 4rem;
}

.works_kr_title {
    font-weight: bold;
}

.works_kr_exp {
    line-height: 160%;
}

.works_en {
    /* background-color: whitesmoke; */
    width: 330px;
    height: 860px;
    overflow-y: auto;

    padding-left: 1rem;

    font-size: 18px;
}

.works_en_container {
    margin-bottom: 4rem;
}

.works_en_title {
    font-weight: bold;
}

.works_en_exp {
    line-height: 160%;
}



/* 여기서부터 introduction.html */

.intro_container {
    margin-top: 10rem;
    max-width: 95vw;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.intro_kr {
    /* position: relative; */
    /* max-width: 60%; */
    padding-right: 1rem;
}

.intro_en {
    padding-left: 1rem;
}

.intro_kr p, .intro_en p {
    background-color: white;
    font-size: 24px;
    line-height: 160%;
    word-break: keep-all;
    word-wrap: break-word;
}




/* 여기서부터 talk.html */

.intro {
    margin: 10rem 0 0 20rem;
    position: relative;
    max-width: 60%;

    background-color: white;
}

.intro p {
    font-size: 24px;
    line-height: 160%;
    word-break: keep-all;
    word-wrap: break-word;
}